@page
@model RegisterModel
@{
    ViewData["Title"] = "Registration";
}
@using System.Web


@{ 
    var queryParameters = Request.QueryString.ToString();
    var createdByAdmin = queryParameters.Contains("createdByAdmin=true") ? true : false;
}
<div class="row" style="margin-top: 30px;">
    @if (createdByAdmin != true)
    {
        @Html.Partial("_RegisterSideNotes")
    }
    <div class = "@(createdByAdmin == true ? "col-md-6 col-md-offset-3" : "col-md-6" )">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Sign up for eIDEAS</div>
            <div class="panel-body" style="background-color: #F5F5F5;">
                <form asp-route-returnUrl="@Model.ReturnUrl" asp-route-createdByAdmin="@createdByAdmin" method="post" >
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" placeholder="Email Address" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Division</label>
                        <select asp-for="Input.DivisionID" class="form-control" id="division">
                            @foreach (var division in Model.DivisionUnits.Keys)
                            {
                                <option value="@division.ID.ToString()" runat="server" id="divname">@division.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Unit</label>
                        <select asp-for="Input.UnitID" class="form-control" id="unit">
                            @foreach (var division in Model.DivisionUnits)
                            {

                                @foreach (var unit in division.Value)
                                {
                                    <option class="unit-option" data-division="@division.Key.ID" value="@unit.ID.ToString()">@unit.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default col-sm-offset-10">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <script type="text/javascript">
            function updateApplicableUnits(selectedDivisionID) {
                //For each unit, show it only if it is part of the selected division
                $('.unit-option').each(function (i) {
                    if ($(this).data('division') == selectedDivisionID) {
                        $(this).prop("disabled", false);
                        $(this).show();
                    }
                    else {
                        $(this).prop("disabled", true);
                        $(this).hide();
                    }
                });

                //Clear the value displayed for unit selected
                $('#unit').val('');
            }

            $(function () {
                //Upon loading the page, populate the appropriate units for eHealth
                updateApplicableUnits(1);

                //Whenever the selected division changes, display the corresponding units.
                $('#division').change(function () {
                    updateApplicableUnits($(this).val());
                });
            });
        </script>
    }
