@model IEnumerable<eIDEAS.Models.UnitDivision>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Units</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Division
            </th>
            <th>
                @Html.DisplayNameFor(model => model.division.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.division.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.unit.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.unit.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.unit.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
