@model IEnumerable<eIDEAS.Models.UnitDivision>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="text-center">Units</h1>
<p>
    <a class="btn btn-primary col-md-2 col-md-offset-10" asp-action="Create">Create New Unit</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Division
            </th>
            <th>
                @Html.DisplayNameFor(model => model.division.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.division.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit.Name)
            </td>
            <td align="right">
                <a class="btn-xs btn-primary col-xs-offset-3" asp-action="Edit" asp-route-id="@item.unit.ID">Edit</a> |
                <a class="btn-xs btn-primary" asp-action="Details" asp-route-id="@item.unit.ID">Details</a> |
                <a class="btn-xs btn-primary" asp-action="Delete" asp-route-id="@item.unit.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
