@using eIDEAS.Models
@using eIDEAS.Models.Enums
@model IEnumerable<IdeaPresentationViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.PageName</h2>

<div class="row">
    <div class="col-xs-12">
        <div style="float: left">
            <p>
                <a class="btn btn-primary" asp-action="Create">Create Idea</a>
            </p>
        </div>
        <div class="col-md-4" style="float: right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" />
                <div class="input-group-btn">
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    @if (ViewBag.filterType != "MyDrafts")
                    {
                        <div class="dropdown" style="display: inline">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
                            <ul class="dropdown-menu" style="left: -119px; top: 15px">
                                <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType=@ViewBag.filterType asp-route-filterStyle="All">All</a></li>
                                <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType=@ViewBag.filterType asp-route-filterStyle="New">New</a></li>
                                <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType=@ViewBag.filterType asp-route-filterStyle="Top">Top</a></li>
                                <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType=@ViewBag.filterType asp-route-filterStyle="Plan">Planning</a></li>
                                <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType=@ViewBag.filterType asp-route-filterStyle="Do">Doing</a></li>
                                <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType=@ViewBag.filterType asp-route-filterStyle="Check">Checking</a></li>
                                <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType=@ViewBag.filterType asp-route-filterStyle="Adopt">Adopting</a></li>
                                <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType=@ViewBag.filterType asp-route-filterStyle="Adapt">Adapting</a></li>
                                <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType=@ViewBag.filterType asp-route-filterStyle="Abandon">Abandoning</a></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var idea in Model)
{
    int status = (int)idea.Overview.Status;
    //Create variables used for the display of the status progress bar
    string doClass = "progress-bar-waiting";
    string checkClass = "progress-bar-waiting";
    string actClass = "progress-bar-waiting";
    string actText = "Act";

    //The display of the progress bar depends on how far the idea has made it in the PDCA process.
    //An idea will have always reached at least the "Plan" stage.
    switch (idea.Overview.Status)
    {
        case StatusEnum.Do:
            doClass = "progress-bar-info";
            break;
        case StatusEnum.Check:
            doClass = "progress-bar-info";
            checkClass = "progress-bar-info";
            break;
        case StatusEnum.Adopt:
            doClass = "progress-bar-info";
            checkClass = "progress-bar-info";
            actClass = "progress-bar-success";
            actText = StatusEnum.Adopt.ToString();
            break;
        case StatusEnum.Adapt:
            doClass = "progress-bar-info";
            checkClass = "progress-bar-info";
            actClass = "progress-bar-warning";
            actText = StatusEnum.Adapt.ToString();
            break;
        case StatusEnum.Abandon:
            doClass = "progress-bar-info";
            checkClass = "progress-bar-info";
            actClass = "progress-bar-danger";
            actText = StatusEnum.Abandon.ToString();
            break;
        default:
            break;
    }

    //An idea is completed if it is in the Adopt, Adapt or Abandon stage
    bool isCompleted = (idea.Overview.Status >= StatusEnum.Adopt);

    <div class="panel panel-default idea-overview" data-ideaid="@idea.Overview.ID">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>@Html.DisplayFor(modelItem => idea.Overview.Title)</strong></h4>
            </div>
        </div>
        @if (!ViewBag.IsDraft)
        {
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="no-margin">Submitted on @idea.Overview.DateCreated.ToLocalTime(); by @idea.AuthorFirstName @idea.AuthorLastName</p>
                            <p>to <strong>@idea.UnitName</strong></p>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div id="@idea.Overview.ID-progress-plan" class="progress-bar progress-bar-info" role="progressbar" style="width:25%;">Plan</div>
                                        <div id="@idea.Overview.ID-progress-do" class="progress-bar @doClass" role="progressbar" style="width:25%; border-left: 1px solid #EEEEEE">Do</div>
                                        <div id="@idea.Overview.ID-progress-check" class="progress-bar @checkClass" style="width:25%; border-left: 1px solid #EEEEEE">Check</div>
                                        <div id="@idea.Overview.ID-progress-act" class="progress-bar @actClass" role="progressbar" style="width:25%; border-left: 1px solid #EEEEEE">@actText</div>
                                    </div>
                                </div>
                                @if (!isCompleted)
                                {
                                    <div class="col-md-3">
                                        <div id="@idea.Overview.ID-button-group-advance" class="row" @{ if (!(idea.Overview.Status == StatusEnum.Plan || idea.Overview.Status == StatusEnum.Do)) { <text> style="display:none" </text>  } }>

                                            <div class="btn-group">
                                                <button id="@idea.Overview.ID-button-advance" data-toggle="tooltip" title="Advance Idea" class="btn btn-primary idea-panel-advance" data-status="@status" data-ideaid="@idea.Overview.ID"><i class="fas fa-play"></i></button>

                                                <button type="button" class="btn btn-danger idea-panel-abandon" data-toggle="tooltip" title="Abandon Idea" data-ideaid="@idea.Overview.ID"><i class="fas fa-times"></i></button>
                                            </div>
                                        </div>
                                        <div id="@idea.Overview.ID-button-group-finalize" class="row" @{ if (!(idea.Overview.Status == StatusEnum.Check)) { <text> style="display:none" </text>  } }>
                                            <div class="btn-group">

                                                <button type="button" class="btn btn-sm btn-success idea-panel-adopt" data-toggle="tooltip" title="Adopt Idea" data-ideaid="@idea.Overview.ID"><i class="fas fa-check"></i></button>

                                                <button type="button" class="btn btn-sm btn-warning idea-panel-adapt" data-toggle="tooltip" title="Adapt Idea" data-ideaid="@idea.Overview.ID"><i class="fas fa-balance-scale"></i></button>

                                                <button type="button" class="btn btn-sm btn-danger idea-panel-abandon" data-toggle="tooltip" title="Abandon Idea" data-ideaid="@idea.Overview.ID"><i class="fas fa-times"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div id="@idea.Overview.ID-input-group-finalize" class="row" style="display:none;">
                        <div class="col-md-6 col-md-push-6 col-sm-12 ">
                            <textarea id="@idea.Overview.ID-textbox-message" class="form-control pull-right idea-panel-finalize-message" placeholder="Enter your message" style="height: 100px;"></textarea>
                            <br />
                            <a id="@idea.Overview.ID-button-finalize" class="btn btn-primary pull-right idea-panel-finalize form-control" data-status="@status" data-ideaid="@idea.Overview.ID" role="button">Finalize</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <img class="idea-panel-expand" data-target="#idea-@idea.Overview.ID-details" src="~/images/arrow-right.png" />
                </div>
            </div>
        }
        <div id="idea-@idea.Overview.ID-details" class="row" style="@(ViewBag.isDraft ? "" : "display:none;")">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h5><strong>Description</strong></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="problem-description" style="padding: 5px">
                            @Html.DisplayFor(modelItem => idea.Overview.Description)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h5><strong>Solution Plan</strong></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="solution-plan" style="padding: 5px">
                            @Html.DisplayFor(modelItem => idea.Overview.SolutionPlan)
                        </div>
                    </div>
                </div>
                @if (!ViewBag.IsDraft)
                {
                    @Html.Partial("../Amendments/Index", idea.Amendments, new ViewDataDictionary(ViewData){
                        { "IdeaID", @idea.Overview.ID }
                    })

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-10 col-md-offset-2" align="right">
                            <span>
                                <button class="btn btn-sm btn-default idea-panel-expand-ammendments" data-target="#idea-@idea.Overview.ID-amendments">Toggle Amendment Form</button>
                            </span>
                        </div>
                    </div>
                    <div id="idea-@idea.Overview.ID-amendments" class="row" style="display:none;">
                        <div class="col-md-10 col-md-offset-2" align="right">
                            <form>
                                <input type="hidden" name="IdeaID" id="IdeaID-@idea.Overview.ID" value="@idea.Overview.ID">
                                <textarea name="Comment" id="Comment-@idea.Overview.ID" class="form-control idea-panel-finalize-message" placeholder="Enter your amendment here" style="height: 70px; margin-top: 10px; margin-bottom: 10px"></textarea>
                                <input type="button" id="amendmentSubmit" class="btn btn-sm btn-default idea-panel-submit-ammendment" data-target="@idea.Overview.ID" value="Submit Amendment" />
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-10 col-md-offset-2" align="right">
                            <span>
                                <a asp-action="EditDraft" asp-route-id="@idea.Overview.ID" class="btn btn-sm btn-default " role="button" style="padding: 1px 5px 0px 5px">Edit Draft</a>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">

        /*
         * TODO: Make buttons look nicer (advance, abaondon, etc.)
         * TODO: Make buttons style inline if they are in small window
         * TODO: Shrink finalize button cause wilson
         * TODO: Get rid of magical numbers and use consts instead
         * TODO: Cleanup and comment code
         * TODO: Add placeholder text to message box depending on the action type. ie. Enter abandonment reason, Enter adaptation plan
         * TODO: Ideas on the drafts page should route to edit draft rather than update status
         */

        function updateTimeline(ideaid, status) {
            // Do
            if (status >= 1) {
                $('#' + ideaid + '-progress-do').addClass('progress-bar-info');
                $('#' + ideaid + '-progress-do').removeClass('progress-bar-waiting');
            }

            // Check
            if (status >= 2) {
                $('#' + ideaid + '-progress-check').addClass('progress-bar-info');
                $('#' + ideaid + '-progress-check').removeClass('progress-bar-waiting');
            }

            // Adopt
            if (status == 3) {
                $('#' + ideaid + '-progress-act').addClass('progress-bar-success');
                $('#' + ideaid + '-progress-act').text('Adopt');
                $('#' + ideaid + '-progress-act').removeClass('progress-bar-waiting');
            }

            // Adapt
            if (status == 4) {
                $('#' + ideaid + '-progress-act').addClass('progress-bar-warning');
                $('#' + ideaid + '-progress-act').text('Adapt');
                $('#' + ideaid + '-progress-act').removeClass('progress-bar-waiting');
            }

            // Abandon
            if (status == 5) {
                $('#' + ideaid + '-progress-act').addClass('progress-bar-danger');
                $('#' + ideaid + '-progress-act').text('Abandon');
                $('#' + ideaid + '-progress-act').removeClass('progress-bar-waiting');
            }

        }

        function updateButtons(ideaid, status) {

            // Change the current status data associated with the advance button
            if (status >= 1) {
                $('#' + ideaid + '-button-advance').data('status', status);
            }

            // Change which group of buttons are showing - if any
            if (status < 2) {
                $('#' + ideaid + '-button-group-advance').show();
                $('#' + ideaid + '-button-group-finalize').hide();
            } else if (status == 2) {
                $('#' + ideaid + '-button-group-advance').hide();
                $('#' + ideaid + '-button-group-finalize').show();
            } else {
                $('#' + ideaid + '-button-group-advance').hide();
                $('#' + ideaid + '-button-group-finalize').hide();
            }
        }

        function updatePage(ideaid, status) {
            updateTimeline(ideaid, status);
            updateButtons(ideaid, status);
        }

        function finalizeStatus(ideaid, status, message) {
            if (!confirm("Are you sure you want to update the status of this idea?\nThis action is irreversible.\n\nSelect 'OK' to update the status.\nSelect 'Cancel' to return to the page."))
                return;

            $.ajax({
                url: '/Ideas/Status/' + ideaid,
                type: "POST",
                data: { 'status': status, 'message': message },
                success: function (result) {
                    console.log(JSON.stringify(result));
                    updatePage(ideaid, status);
                },
                error: function (result) {
                    console.log("Error");
                }
            });
        }

        function updateStatus(ideaid, status) {
            if (window.confirm("Are you sure you want to update the status of this idea?\nThis action is irreversible.\n\nSelect 'OK' to update the status.\nSelect 'Cancel' to return to the page.")) {
                $.ajax({
                    url: '/Ideas/Status/' + ideaid,
                    type: "POST",
                    data: { 'status': status, 'message': null },
                    success: function (result) {
                        console.log(JSON.stringify(result));
                        updatePage(ideaid, status);
                    },
                    error: function (result) {
                        console.log("Error");
                    }
                });
            }
        }

        // Advance an idea
        $('.idea-panel-advance').click(function () {
            event.cancelBubble = true;
            if (event.stopPropagation) event.stopPropagation();

            if (!confirm("Are you sure you want to advance this idea?"))
                return;

            var ideaid = $(this).data('ideaid');
            var status = $(this).data('status') + 1;
            if (status <= 3) {
                updateStatus(ideaid, status);
            } else {
                alert('Stop trying to hack the app');
            }
        });

        $('.idea-panel-finalize').click(function () {
            event.cancelBubble = true;
            if (event.stopPropagation) event.stopPropagation();

            var ideaid = $(this).data('ideaid');
            var desiredStatus = $(this).data('status');
            var message = $('#' + ideaid + '-textbox-message').val();

            finalizeStatus(ideaid, desiredStatus, message);

            $('#' + ideaid + '-input-group-finalize').hide();
        });

        // Adopt an idea
        $('.idea-panel-adopt').click(function () {
            event.cancelBubble = true;
            if (event.stopPropagation) event.stopPropagation();

            if (!confirm("Are you sure you want to adopt this idea?"))
                return;

            var ideaid = $(this).data('ideaid');
            var status = 3;
            updateStatus(ideaid, status);
        });

        // Abandon an idea
        $('.idea-panel-abandon').click(function () {
            event.cancelBubble = true;
            if (event.stopPropagation) event.stopPropagation();

            var ideaid = $(this).data('ideaid');
            var status = 5;

            $('#' + ideaid + '-input-group-finalize').show();
            $('#' + ideaid + '-button-finalize').data('status', status);
        });

        // Adapt an idea
        $('.idea-panel-adapt').click(function () {
            event.cancelBubble = true;
            if (event.stopPropagation) event.stopPropagation();

            var ideaid = $(this).data('ideaid');
            var status = 4;

            $('#' + ideaid + '-input-group-finalize').show();
            $('#' + ideaid + '-button-finalize').data('status', status);
        });

        $('.idea-panel-finalize-message').click(function () {
            event.cancelBubble = true;
            if (event.stopPropagation) event.stopPropagation();
        });

        $('.idea-panel-expand').click(function () {
            event.cancelBubble = true;
            if (event.stopPropagation) event.stopPropagation();
            target = $($(this).data('target'));

            if ($(this).attr('src').endsWith('arrow-right.png')) {
                $(this).attr('src', "images/arrow-down.png");
                target.slideDown(500);
            }
            else {
                $(this).attr('src', "images/arrow-right.png");
                target.slideUp(500);
            }

        });

        $('.idea-panel-expand-ammendments').click(function () {
            event.cancelBubble = true;
            if (event.stopPropagation) event.stopPropagation();

            target = $($(this).data('target'));

            if ($(target).is(":hidden"))
                target.slideDown(500);
            else
                target.slideUp(500);
        });

        //For amendment submission
        $('.idea-panel-submit-ammendment').click(function () {
            event.cancelBubble = true;
            if (event.stopPropagation) event.stopPropagation();

            id = $(this).data('target');

            comment = document.getElementById("Comment-" + id).value;
            if (!(/\S/.test(comment)))
                return;
            $.ajax({
                url: '@Url.Action("Update","Amendments")',
                type: "POST",
                data: { 'ideaID': id, 'comment': comment},
                success: function (result) {
                    // refreshes partial view
                    $('#amendment-partial-' + id).html(result);
                    document.getElementById('Comment-' + id).value = '';
                }
            });
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
}
