@model IEnumerable<eIDEAS.Models.Idea>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ideas</h2>

<p>
    <a asp-action="Create">Create Idea</a>
</p>
<div>
    @foreach (var idea in Model)
    {
        var localIdeaSubmissionTime = idea.DateCreated.ToLocalTime();

        <div class="panel panel-default idea-overview">
            <div class="row">
                <div class="col-md-11">
                    <h4><strong>@Html.DisplayFor(modelItem => idea.Title)</strong></h4>
                    <p class="no-margin">Submitted on @localIdeaSubmissionTime by --AUTHOR_NAME--</p>
                    <p>to <strong>--TEAM NAME--</strong></p>
                    <p class="no-margin">Status: @Html.DisplayFor(modelItem => idea.Status) <a asp-action="Edit" asp-route-id="@idea.ID">Update Status</a></p>                    
                </div>
                <div class="col-md-1">
                    <img class="expand" data-toggle="collapse" data-target="#@idea.ID" data-expanded="false" onclick="toggleArrow(this)" src="~/images/arrow-right.png" style="margin-top: 28px" />
                </div>
            </div>
            <div id="@idea.ID" class="collapse">
                <hr />
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 no-padding">
                            <h5><strong>Description</strong></h5>
                        </div>
                        <div class="col-md-6 no-padding">
                            <h5><strong>Solution Plan</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-5 problem-description no-padding" style="padding: 5px">
                            @Html.DisplayFor(modelItem => idea.Description)
                        </div>
                        <div class="col-md-offset-1 col-md-5 solution-plan no-padding" style="padding: 5px">
                            @Html.DisplayFor(modelItem => idea.SolutionPlan)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    //This function toggles the display of the arrow indicating if a idea view is expanded. It is called whenever such an arrow is clicked.
    function toggleArrow(arrowImage) {
        if (arrowImage.src.endsWith('arrow-right.png'))
            arrowImage.src = "images/arrow-down.png"
        else
            arrowImage.src = "images/arrow-right.png";
    }
</script>