@model IEnumerable<eIDEAS.Models.Division>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="text-center">Divisions</h1>
<p>
    <a class="btn btn-primary col-md-2 col-md-offset-10" asp-action="Create">Create New Division</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="right">
                    <a class="btn-xs btn-primary" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a class="btn-xs btn-primary" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a class="btn-xs btn-primary" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
